<div class="global-container">
    <div class="container">
        <div class="logo">
            <button mat-button class="logo-button">Logo</button>
        </div>
        <div class="user">
            <div class="user__icon">
                <button mat-icon-button><span class="material-symbols-outlined">person</span></button>
            </div>
            <div class="user__info">
                <div class="user__info__name">user_name</div>
                <div class="user__info__email">user_email.com</div>
            </div>
            <div class="user__message">
                <button mat-icon-button><span class="material-symbols-outlined">mail</span></button>
            </div>
        </div>
    </div>
</div>