
<div class="global-container">
    <div class="container">
        <div class="track-list">
            <div class="track" *ngFor="let music of musicList; let i = index" (click)="play(i)"
                style="cursor: pointer;">
                <div class="track__name">
                    <div class="track__name__title">{{music.title}}</div>
                    <div class="track__name__artist">{{music.artist}}</div>
                </div>
                <div class="track__album">{{music.album}}</div>
            </div>
        </div>
    </div>
</div>

<div class="global-container">
    <div class="container">
        <div class="player__time">
            <div class="time">{{ currentTime }}</div>
            <div class="slider">
                <mat-slider (input)="durationSlider($event)" class="slider-full" step="0.01" min="0"
                    max="{{ duration }}">
                    <input matSliderThumb [(ngModel)]="selectedTime" #slider>
                </mat-slider>
            </div>
            <div class="time">{{ musicLength }}</div>
        </div>
        <div class="player">
            <div class="player__play">
                <button mat-icon-button (click)="prev()">
                    <mat-icon>skip_previous</mat-icon>
                </button>
                <button mat-icon-button (click)="play()">
                    <mat-icon>{{ audio.paused ? 'play_arrow' : 'pause' }}</mat-icon>
                </button>
                <button mat-icon-button (click)="next()">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
            <div class="player__track">
                <div class="icon"></div>
                <div class="info">
                    <div class="name">{{ currentMusic.title }}</div>
                    <div class="artist">{{ currentMusic.artist }}</div>
                </div>
            </div>
            <div class="player__volume">
                <button mat-icon-button (click)="volume_on()">
                    <mat-icon>{{ selectedValue === 0 ? 'volume_off' : 'volume_up' }}</mat-icon>
                </button>
                <mat-slider [discrete]="false" (input)="volumeSlider($event)" step="1" min="0" max="100">
                    <input matSliderThumb [(ngModel)]="selectedValue">
                </mat-slider>
            </div>
        </div>
    </div>
</div>